---
import QuestionAndAnswer from "./QuestionAndAnswer.astro";
import ContactButton from "./ContactButton.astro";
const {categories} = Astro.props;
---

<section class="faq">
    <div class="faq-inside">
        <h2>FAQs</h2>
        {categories.map(category => (
                <div key={category.name}>
                    <h4>{category.name}</h4>
                    {category.faqs.map(faq => (
                            <QuestionAndAnswer key={faq.id} id={faq.id} question={faq.q} answer={faq.a}/>
                    ))}
                </div>
        ))}
    </div>
</section>


<style>
    .faq {
        text-align: center;
        padding: 3rem 2rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        font-weight: 700; /* Bold */
        background-color: #D1C4E9; /* Soft Pastel Lavender */
        color: #5A2A8C; /* Deep Purple */
    }

    .faq h4 {
        margin-top: 2rem;
        margin-bottom: 0.25rem;
    }

    .faq-inside {
        padding: 1rem 2rem;
        background-color: #e8e4f3; /* Soft Pastel Lavender */
        border-radius: 8px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    }


    /* LANDSCAPE ONLY */
    @media (orientation: landscape) {
        .faq-inside {
            width: 50%;
        }
    }


    /* PORTRAIT ONLY */
    @media (orientation: portrait) {
        .faq {
            padding-bottom: 21.69vw; /* equal to line button height + top and bottom margins */
        }
    }
</style>